if SHIELD_CHARYBDIS_RIGHT
#bluetoothName
config ZMK_KEYBOARD_NAME
	default "CharBlk"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_CHARYBDIS_LEFT || SHIELD_CHARYBDIS_RIGHT

config ZMK_SPLIT
	default y
	

endif
